.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  border-radius: 15px;
  transition: 0.25s all;

  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
    transition: 0.25s all;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.buttonActive {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm);
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-6));
  border-radius: 15px;
}
