@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --color-primary: 67 160 71;
  --primary-foreground: 210 40% 98%;

  /*menu*/
  --color-menu: 242 242 242;
  --color-menu-primary: 67 160 71;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 156,163,175;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --color-primary: 67 160 71;
    --primary-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    /*menu*/
    --color-menu: 17 24 39;
    --color-menu-primary: 67 160 71;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}
